:host {
  display: flex;
  flex-direction: column;
  height: 100vh;

  --gintama-black: #1a1a1b;
  --gintama-silver: #f3f4f6;
  --gintama-cyan: #4ca6b8;
}

.sidebar {
  background-color: var(--gintama-black);
  border-right: 1px solid rgba(243, 244, 246, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
