<div class="app-wrapper">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <t-sidebar></t-sidebar>

      <div class="content-wrapper">
        <t-header></t-header>

        <main #scrollContainer (scroll)="onScroll($event)">
          <div class="p-4 content-inner">
            <div class="fade-in-up page-container">
              <router-outlet></router-outlet>
            </div>
          </div>
        </main>

        <t-footer [class.footer-hidden]="!isAtBottom()"></t-footer>
      </div>
    </div>
  </div>
</div>
