<div class="card">
  <div class="card-header">
    {{ pageHeader() }}
  </div>
  <div class="card-body">
    <form>
      <div class="row">
        <label class="row-label" for="firstNameId"> Nome </label>
        <div class="row-value">
          <input
            type="text"
            class="form-control"
            [field]="subscribeForm.firstName"
            id="firstNameId"
            placeholder="Nome (opcional)"
          />
        </div>
      </div>

      <div class="row">
        <label class="row-label" for="lastNameId"> Sobrenome </label>
        <div class="row-value">
          <input
            type="text"
            class="form-control"
            [field]="subscribeForm.lastName"
            id="lastNameId"
            placeholder="Sobrenome (opcional)"
          />
        </div>
      </div>

      <div class="row">
        <label class="row-label" for="emailId"> E-mail <span class="text-danger">*</span> </label>
        <div class="row-value">
          <input
            type="email"
            class="form-control"
            [field]="subscribeForm.email"
            id="emailId"
            placeholder="E-mail (obrigatório)"
          />
        </div>
        @if (subscribeForm.email().invalid() && subscribeForm.email().touched()) {
        <div class="alert alert-danger">
          @for (error of subscribeForm.email().errors(); track error.kind) {
          <div>{{ error.message }}</div>
          }
        </div>
        }
      </div>

      <div class="row">
        <label class="row-label" for="yearsAsFanId"> Anos como fã </label>
        <div class="row-value">
          <input
            type="number"
            class="form-control"
            [field]="subscribeForm.yearsAsFan"
            id="yearsAsFanId"
            placeholder="Há quantos anos você é fã de Star Wars?"
          />
        </div>
        @if (subscribeForm.yearsAsFan().invalid() && subscribeForm.yearsAsFan().touched()) {
        <div class="alert alert-danger">
          @for (error of subscribeForm.yearsAsFan().errors(); track error.kind) {
          <div>{{ error.message }}</div>
          }
        </div>
        }
      </div>

      <div class="row">
        <div class="row-value">
          <button
            type="button"
            title="Certifique-se de que o formulário é válido e os campos obrigatórios foram preenchidos antes de se inscrever"
            class="btn btn-primary"
            (click)="subscribe()"
          >
            Inscrever-se
          </button>
          <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
        </div>
      </div>
    </form>

    @if (subscribeMessage()) {
    <div class="alert alert-success">
      {{ subscribeMessage() }}
    </div>
    }
  </div>
</div>
