:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;

  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;

  transition: background 0.5s ease-in-out;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
