<form [formGroup]="userForm" class="account-registration-form">
  <div class="row g-3 form-layout-grid">
    <div class="col-md-6 form-field-container">
      <label for="name" class="form-label field-label-standard">Nome completo</label>
      <input
        id="name"
        name="name"
        class="form-control form-input-control"
        type="text"
        formControlName="name"
        placeholder="Alan Ryan"
      />

      @if (userForm.controls['name'].touched || userForm.controls['name'].dirty) {
      <div>
        @if (userForm.controls['name'].errors?.['required']) {
        <span class="validation-feedback-area"> Obrigatório </span>
        } @else if (userForm.controls['name'].errors?.['minlength']) {
        <span class="validation-feedback-area"> Pelo menos 4 caracteres </span>
        }
      </div>
      }
    </div>

    <div class="col-md-6 form-field-container">
      <label for="username" class="form-label field-label-standard">Nome de usuário</label>
      <input
        id="username"
        name="username"
        class="form-control form-input-control"
        formControlName="userName"
        type="text"
        placeholder="0nF1REy"
      />
    </div>

    <div class="col-md-6 form-field-container">
      <label for="email" class="form-label field-label-standard">Email</label>
      <input
        id="email"
        name="email"
        class="form-control form-input-control"
        formControlName="email"
        type="email"
        placeholder="nome@examplo.com"
      />
    </div>

    <div class="col-md-6 form-field-container">
      <label for="password" class="form-label field-label-standard">Senha</label>
      <input
        id="password"
        name="password"
        class="form-control form-input-control"
        formControlName="password"
        type="password"
        placeholder="••••••••"
      />
      <div class="form-text input-assist-text">Pelo menos 6 caracteres</div>
    </div>

    <div class="col-12 d-flex gap-2 form-action-group">
      <button
        class="btn btn-primary btn-action-primary"
        type="submit"
        [disabled]="userForm.invalid"
      >
        Salvar
      </button>
      <button class="btn btn-outline-secondary btn-action-outline" type="reset">Resetar</button>
    </div>
  </div>
</form>
