html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-size: cover;
  background-position: center;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  background: linear-gradient(-45deg, #f75d5d, #7ed8f7, #a8b8c7, #ffffff);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  z-index: 10;
}
