<div class="row">
  <div class="col-3">
    <div class="p-4" [ngClass]="myClassName">div 01</div>
  </div>
  <div class="col-2">
    <input type="text" class="form-control" [(ngModel)]="myClassName" />
  </div>
  <div class="col-3">
    <button
      class="btn"
      (click)="isActive = !isActive"
      [ngClass]="isActive == true ? 'btn-success' : 'btn-danger'"
    >
      Status
    </button>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-3">
    <p [ngClass]="productPrice > 500 ? 'text-danger' : 'text-primary'">
      Preço R$ {{ productPrice }}
    </p>
  </div>
  <div class="col-2">
    <input type="text" class="form-control" [(ngModel)]="productPrice" />
  </div>
</div>

<hr />

<div class="row">
  <div class="col-3">
    <div class="p-4" [ngStyle]="{ 'background-color': divBackColor }">div 02</div>
  </div>
  <div class="col-2">
    <input type="text" class="form-control" [(ngModel)]="divBackColor" />
  </div>
  <div class="col-3" [ngStyle]="myCss">div 03</div>
</div>

<hr />
