@if (selectedVehicle()) {
<div class="card cart-summary-container">
  <div class="card-header cart-summary-header">Total do Carrinho</div>
  <div class="card-body cart-summary-body">
    <div class="row cart-summary-row">
      <div class="row-label cart-item-label">Preço (créditos)</div>
      <div class="row-value cart-item-value">
        {{ price() | number : '1.0-0' }}
      </div>
    </div>
    <div class="row cart-summary-row">
      <div class="row-label cell-bold cart-item-label">Quantidade</div>
      <div class="row-value cart-item-value">
        <input type="number" class="qty-input quantity-control-field" [(ngModel)]="quantity" />
      </div>
    </div>

    <div class="row cart-summary-row">
      <div class="row-label cart-item-label">Subtotal:</div>
      <div class="row-value cart-item-value">
        {{ subTotal() | number : '1.0-0' }}
      </div>
    </div>
    <div class="row cart-summary-row">
      <div class="row-label cart-item-label">Entrega:</div>
      @if (deliveryFee()) {
      <div class="row-value cart-item-value">{{ deliveryFee() | number : '1.2-2' }}</div>
      } @else {
      <div class="row-value free status-free-badge">Grátis</div>
      }
    </div>
    <div class="row cart-summary-row">
      <div class="row-label cart-item-label">Imposto Estimado:</div>
      <div class="row-value cart-item-value">
        {{ tax() | number : '1.0-0' }}
      </div>
    </div>
    <div class="row cart-summary-row total-highlight-section">
      <div class="row-label cart-item-label"><b>Total:</b></div>
      <div class="row-value total total-amount-highlight">
        {{ totalPrice() | number : '1.0-0' }}
      </div>
    </div>
  </div>
</div>
}
