<div class="app-wrapper">
  <div class="container-fluid p-0">
    <div class="row g-0 min-vh-100">
      <t-sidebar></t-sidebar>
      <!-- Main Content -->
      <main class="main-content col-12 col-md-9 col-lg-10">
        <header class="content-header shadow-lg">
          <h2 class="mb-0">Painel</h2>
        </header>

        <div class="p-4">
          <div class="fade-in-up">
            <router-outlet></router-outlet>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
