.theme-buttons {
  position: fixed;
  z-index: 10;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 12px;

  button {
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    backdrop-filter: blur(5px);
    transition: 0.2s;
  }

  button:hover {
    background: rgba(255, 255, 255, 0.4);
  }

  body {
    transition: 0.4s;
  }
}
