<nav id="sidebar" class="sidebar">
  <div class="sidebar-header">
    <div class="logo-icon bg-transparent">
      <img
        src="favicon.ico"
        alt="Angular Logo"
        width="36"
        height="36"
        style="filter: brightness(1.5)"
      />
    </div>
    <h5 class="m-0">Angular 21</h5>
  </div>

  <div class="sidebar-content">
    <div class="menu-label">Menu de Operações</div>
    <ul class="nav flex-column custom-nav">
      @for (item of menu; track item.route) {
      <li class="nav-item">
        <a class="nav-link" [routerLink]="item.route" routerLinkActive="active">
          <i class="bi {{ item.icon }} me-3"></i>
          {{ item.label }}
        </a>
      </li>
      }
    </ul>
  </div>

  <div class="sidebar-footer">
    <small>SISTEMA V0.0.9 - Alan Ryan</small>
  </div>
</nav>
